@import "tailwindcss";
@import "@fontsource-variable/montserrat";
@import "@fontsource-variable/nunito";

@theme {
  /* Define default fonts */
  --default-font-primary: "Montserrat Variable", sans-serif;
  --default-font-secondary: "Nunito Variable", sans-serif;

  /* Define default colors */
  --color-primary: #4f8cda; /* A shade of blue */
  --color-secondary: #2e3a4f; /* A darker shade for contrast */
  --color-accent: #5bc47a; /* A shade of green */
  --color-lt-gray: #f7f7f9; /* Light gray for backgrounds */
  --color-highlight: #ffdda6; /* A soft yellow for highlights */
  
  /* Custom property for scroll behavior */
  --scroll-margin-top: 160px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--default-font-primary);
  font-weight: 400;
  background-color: white;
  color: var(--color-secondary);
  margin: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-secondary);
}

.container-width {
  max-width: 1320px;
}

.openMenu {
  transition-property: all;
  transform-origin: left top;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 500ms;
}


