---
import BaseLayout from './layouts/BaseLayout.astro';
const pageTitle =
	'Your friendly financial business strategy partner and fractional CFO';
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Index Page!</h1>
</BaseLayout>
