---

---

<section id="faq" class="faq-section bg-white relative scroll-mt-40">
	<div class="pt-10 pb-12.5 xl:pt-14 xl:pb-11.5">
		<div class="max-w-180 mx-auto px-7.5 mt-0">
			<h2
				class="text-[24px]! leading-[1.2] mb-5 xl:mb-6.5 xl:text-[38px]!text-center font-bold m-0 p-0"
			>
				Your Trusted Partner for Hassle-Free Bookkeeping and Expert CFO Services
				in Saint John, NB
			</h2>
		</div>
		<div
			class="max-w-180 mx-auto px-7.5 xl:max-w-[92%] xl:flex xl:flex-col xl:items-center xl:my-0"
		>
			<div
				class="w-full mt-9.5 mb-1 flex flex-col content-center justify-center xl:-mb-3.5 xl:py-0 xl:px-7.5 xl:w-195 xl:max-w-195 xl:mt-7.5 md:items-stretch md:justify-between md:flex-wrap md:flex-row md:mx-auto md:my-0"
			>
				<span
					class="mb-10 xl:mb-5 mt-5 relative m-0 p-7.5 w-full text-left rounded-xl shadow-[2px_2px_14px_rgba(0,0,0,0.2)] flex flex-col content-center xl:w-[48%]"
				>
					<div
						class="content-start relative flex flex-col justify-center w-full h-full xl:justify-start"
					>
						<div
							class="service-item-title px-0 mt-0 text-[19px]! xl:text-[22px]! xl:px-3.75 font-bold text-left normal-case"
						>
							What services does The Big Friendly Bookkeeper offer?
						</div>
						<div
							class="service-item-description px-0 text-left text-[16px]! xl:text-[17px]! xl:leading-[1.55] md:px-3 md:py-0 leading-[1.7] mt-2.5"
						>
							We offer a comprehensive range of bookkeeping services, including
							QuickBooks setup, accounts receivable and payable management,
							payroll processing, tax preparation, and expert outsourced CFO
							services.
						</div>
					</div>
				</span>
				<span
					class="mb-5 mt-5 relative m-0 p-7.5 w-full text-left rounded-xl shadow-[2px_2px_14px_rgba(0,0,0,0.2)] flex flex-col content-center xl:w-[48%]"
				>
					<div
						class="content-start relative flex flex-col justify-center w-full h-full xl:justify-start"
					>
						<div
							class="service-item-title px-0 mt-0 text-[19px]! xl:text-[22px]! xl:px-3.75 font-bold text-left normal-case"
						>
							How can The Big Friendly Bookkeeper help my small business?
						</div>
						<div
							class="service-item-description px-0 text-left text-[16px]! xl:text-[17px]! xl:leading-[1.55] md:px-3 md:py-0 leading-[1.7] mt-2.5"
						>
							With over 20 years of experience, we tailor our services to meet
							your unique business needs, helping you save time and reduce
							stress over financial management while ensuring accuracy and
							compliance.
						</div>
					</div>
				</span>
				<span
					class="mb-5 mt-5 relative m-0 p-7.5 w-full text-left rounded-xl shadow-[2px_2px_14px_rgba(0,0,0,0.2)] flex flex-col content-center xl:w-[48%]"
				>
					<div
						class="content-start relative flex flex-col justify-center w-full h-full xl:justify-start"
					>
						<div
							class="service-item-title px-0 mt-0 text-[19px]! xl:text-[22px]! xl:px-3.75 font-bold text-left normal-case"
						>
							What is your approach to bookkeeping?
						</div>
						<div
							class="service-item-description px-0 text-left text-[16px]! xl:text-[17px]! xl:leading-[1.55] md:px-3 md:py-0 leading-[1.7] mt-2.5"
						>
							We take a friendly and personalized approach to bookkeeping by
							understanding your specific needs and providing proactive
							solutions that help improve your financial health.
						</div>
					</div>
				</span>
				<span
					class="mb-5 mt-5 relative m-0 p-7.5 w-full text-left rounded-xl shadow-[2px_2px_14px_rgba(0,0,0,0.2)] flex flex-col content-center xl:w-[48%]"
				>
					<div
						class="content-start relative flex flex-col justify-center w-full h-full xl:justify-start"
					>
						<div
							class="service-item-title px-0 mt-0 text-[19px]! xl:text-[22px]! xl:px-3.75 font-bold text-left normal-case"
						>
							How does the process of setting up QuickBooks work?
						</div>
						<div
							class="service-item-description px-0 text-left text-[16px]! xl:text-[17px]! xl:leading-[1.55] md:px-3 md:py-0 leading-[1.7] mt-2.5"
						>
							We'll guide you step-by-step in setting up QuickBooks, customizing
							it for your business, and ensuring that you're fully equipped to
							manage your finances effectively.
						</div>
					</div>
				</span>
				<span
					class="mb-5 mt-5 relative m-0 p-7.5 w-full text-left rounded-xl shadow-[2px_2px_14px_rgba(0,0,0,0.2)] flex flex-col content-center xl:w-[48%]"
				>
					<div
						class="content-start relative flex flex-col justify-center w-full h-full xl:justify-start"
					>
						<div
							class="service-item-title px-0 mt-0 text-[19px]! xl:text-[22px]! xl:px-3.75 font-bold text-left normal-case"
						>
							What makes The Big Friendly Bookkeeper different from other
							bookkeeping services?
						</div>
						<div
							class="service-item-description px-0 text-left text-[16px]! xl:text-[17px]! xl:leading-[1.55] md:px-3 md:py-0 leading-[1.7] mt-2.5"
						>
							Our commitment to personalized customer service, extensive
							experience, and deep knowledge of QuickBooks sets us apart,
							allowing us to provide not just bookkeeping but also strategic
							financial advice to help your business thrive.
						</div>
					</div>
				</span>
			</div>
		</div>
	</div>
</section>
