---
import Social from './Social.astro';
---

<footer>
	<div
		class="flex flex-col bg-secondary gap-4 w-full items-center py-6 min-h-0"
	>
		<div class="flex gap-4">
			<a href="https://www.facebook.com/BigFriendlyBookkeeper/" target="_blank"
				><ion-icon class="text-2xl text-lt-gray" name="logo-facebook"
				></ion-icon></a
			>
			<a href="https://www.instagram.com/thebfbkpr/" target="_blank"
				><ion-icon class="text-2xl text-lt-gray" name="logo-instagram"
				></ion-icon></a
			>
			<a
				href="https://www.linkedin.com/company/the-big-friendly-bookkeeper/"
				target="_blank"
				><ion-icon class="text-2xl text-lt-gray" name="logo-linkedin"
				></ion-icon></a
			>
			<a href="mailto:info@bigfriendlybookkeeper.ca"
				><ion-icon class="text-2xl text-lt-gray" name="mail-outline"
				></ion-icon></a
			>
			<a
				href="https://www.youtube.com/@TheBigFriendlyBookkeeper"
				target="_blank"
				><ion-icon class="text-2xl text-lt-gray" name="logo-youtube"
				></ion-icon></a
			>
		</div>
		<p class="text-lt-gray text-sm">
			&copy; {new Date().getFullYear()} The Big Friendly Bookkeeper. All rights reserved.
		</p>
	</div>
</footer>
