---

---

<div class="pr-5 cursor-pointer hamburger absolute right-3.5 lg:hidden group">
	<span
		class="block w-10 h-1.25 my-1.25 bg-primary transition-all duration-300 ease-in-out group-[.is-active]:translate-y-[10px] group-[.is-active]:rotate-45"
	></span>
	<span
		class="block w-10 h-1.25 my-1.25 bg-primary transition-all duration-300 ease-in-out group-[.is-active]:opacity-0"
	></span>
	<span
		class="block w-10 h-1.25 my-1.25 bg-primary transition-all duration-300 ease-in-out group-[.is-active]:-translate-y-[10px] group-[.is-active]:-rotate-45"
	></span>
</div>