---

---

<div class="pr-5 cursor-pointer hamburger absolute right-3.5 lg:hidden">
	<span
		class="block w-10 h-1.25 my-1.25 bg-primary transition-all transition-normal duration-3 ease-in-out delay-0"
	></span>
	<span
		class="block w-10 h-1.25 my-1.25 bg-primary transition-all transition-normal duration-3 ease-in-out delay-0"
	></span>
	<span
		class="block w-10 h-1.25 my-1.25 bg-primary transition-all transition-normal duration-3 ease-in-out delay-0"
	></span>
</div>
