---
import Social from './Social.astro';
---

<nav
	class="nav-links bg-white ease-in-out duration-500 xl:static fixed xl:min-h-fit xl:top-0 top-19 right-0 xl:w-auto w-0 overflow-x-hidden xl:flex flex xl:flex-row flex-col gap-8 items-end z-1"
>
	<div
		class="text-md font-semibold flex items-end xl:flex-row flex-col xl:items-center xl:gap-6 gap-8 md:text-md px-8"
	>
		<a href="/" class="menuLink hover:text-primary">Home</a>
		<a href="/#services" class="menuLink hover:text-primary">Services</a>
		<a href="/#aboutus" class="menuLink hover:text-primary">About Us</a>

		<a href="/#reviews" class="menuLink hover:text-primary">Reviews</a>

		<a href="/#faq" class="menuLink hover:text-primary">FAQs</a>

		<a href="/#contact" class="menuLink hover:text-primary">Contact Us</a>

		<a href="/" class="menuLink hover:text-primary">Blog</a>
	</div>

	<a
		href="https://calendly.com/bigfriendlybookkeeper-info/consult"
		class="text-white
				px-5
				mx-6
				py-2
				rounded-full
				bg-primary hover:opacity-70 cursor-pointer shadow-xl"
		target="_blank">Contact Us</a
	>
	<Social />
</nav>
