---
import Social from './Social.astro';
---

<nav
	class="nav-links ease-in-out duration-500 bg-lt-gray lg:static fixed lg:min-h-fit lg:top-0 top-25 right-0 lg:w-auto w-0 overflow-x-hidden lg:flex flex lg:flex-row flex-col gap-8 items-end z-1"
>
	<ul
		class="text-md font-semibold flex lg:flex-row flex-col lg:items-center lg:gap-6 gap-8 md:text-md px-8"
	>
		<li>
			<a href="/" class="hover:text-primary">Home</a>
		</li>
		<li>
			<a href="/" class="hover:text-primary">Services</a>
		</li>
		<li>
			<a href="/#aboutus" class="hover:text-primary">About Us</a>
		</li>
		<li>
			<a href="/#reviews" class="hover:text-primary">Reviews</a>
		</li>
		<li>
			<a href="/#faqs" class="hover:text-primary">FAQs</a>
		</li>
		<li>
			<a href="/#contact" class="hover:text-primary">Contact Us</a>
		</li>
		<li>
			<a href="/blog" class="hover:text-primary">Blog</a>
		</li>
	</ul>

	<button
		class="text-white
				px-5
				mx-6
				py-2
				rounded-full
				bg-primary hover:opacity-70 cursor-pointer"
		>Contact Us</button
	>
	<Social />
</nav>
