---

---

<div
	class="header-info fixed top-25 left-full flex flex-col justify-between z-1 overflow-auto transition-all duration-200 ease-in-out"
	style="width: calc(100% - 52px); height: calc(100% - 100px);"
>
	<div class="block absolute -top-25 left-0 width-25 height-25"></div>
	<div
		class="relative flex flex-col items-end text-right gap-x-1 gap-y-1 grow py-3 overflow-auto nav-links lg:flex lg:overflow-auto"
	>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/">Home</a
		>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/services">Services</a
		>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/why-us">Why Us</a
		>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/our-work">Our Work</a
		>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/about">About Us</a
		>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/Reviews">Reviews</a
		>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/faq">FAQs</a
		>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/contact">Contact Us</a
		>
		<a
			class="block text-right py-2.5 px-0 font-bold text-lg lg:text-center lg:font-normal"
			href="/blog">Blog</a
		>
	</div>
</div>
