---
const { title } = Astro.props;
---

<div class="max-w-180 mx-auto px-7.5">
	<h2
		class="text-[24px]! leading-[1.2] mb-5 text-center m-0 p-0 font-bold lg:text-[38px]! lg:mb-6.5"
	>
		{title}
	</h2>
</div>
